{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class= "row">
        <div class="container">
            <h1>{{ object.title }}</h1> <br/>
            {{object.timestamp|timesince}} ago <!-- shows time elapsed since timestamp val-->
            {{ object.desc|linebreaks }} <br/> <!--to provide linebreaks--> 
            {{ object.price }} <br/>
            {% if object.image %}
            <img src='{{ object.image.url }}' class='img-fluid'/>
            {% endif %}
        </div>
    </div>



{% endblock %}